<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos necesarios para conexión a Oracle -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Permiso para escaneo de código de barras -->
    <uses-permission android:name="android.permission.CAMERA" />
    
    <!-- Declarar que la app usa cámara como hardware -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    
    <application
        android:name=".InventarioApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appinventario"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Appinventario">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Actividad personalizada para escáner de código de barras en orientación vertical -->
        <activity
            android:name=".ui.inventario.PortraitCaptureActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.Appinventario" />
    </application>

</manifest>